@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  a {
    color: #687076;
  }

  /* Hide scrollbars globally while keeping scroll functionality */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  *::-webkit-scrollbar {
    display: none; /* Chrome/Safari/WebKit */
  }
}

/* table-hierarchy */
td {
  border-right-width: 1px;
}
.table-hierarchy td {
  border-right-width: 1px;
  border-top-width: 1px;
  padding: 10px 16px !important;
}
.table-hierarchy td:has(.rowspan) {
  border-top-width: 0px !important;
}

.table-hierarchy td:has(.invalid-field) {
  border: 1px solid #EB3865 !important;
}

[role='menuitemcheckbox'] span.pointer-events-none {
  border: 1px solid #a9afb3;
  border-radius: 3px;
}
[role='menuitemcheckbox'] span svg {
  padding: 1px;
  background-color: var(--brand-blue);
  color: #fff;
  border-radius: 3px;
}

/* 
table-light-styles 
*/
.table-light div.border-border,
.table-light td,
.table-light th {
  border-width: 0px !important;
}
.table-light td,
.table-light th {
  border-bottom-width: 1px !important;
}
.table-light table th {
  background-color: #fff !important;
}
.table-accent div.border-border,
.table-accent td,
.table-accent th {
  border-width: 0px !important;
}
.table-accent td,
.table-accent th {
  border-bottom-width: 1px !important;
}
.table-accent table th {
  background-color: var(--accent) !important;
}
/* [End] - table-light-styles */

/* text-editor */
.text-editor .ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #dfe3e6 !important;
}

.text-editor.ql-container,
.ql-container.ql-snow {
  border: none !important;
}

.text-editor .ql-editor {
  min-height: 160px;
}

select:disabled,
input:disabled,
textarea:disabled {
  opacity: 100%;
  background-color: var(--accent);
  border: 1px solid #dfe3e6;
}

button,
a,
input[type='checkbox'] {
  cursor: pointer !important;
}
