@font-face {
  font-family: 'ADNOCSans';
  src: url('../assets/fonts/ADNOCSansLight.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: 'ADNOCSans';
  src: url('../assets/fonts/ADNOCSansRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ADNOCSans';
  src: url('../assets/fonts/ADNOCSansMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ADNOCSans';
  src: url('../assets/fonts/ADNOCSansBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}
